[Desktop Entry]
Name=Dolphin (Admin)
Comment=Browse files as administrator
Exec=dolphin admin:///
Icon=system-file-manager
Terminal=false
Type=Application
Categories=System;Utility;FileManager;
StartupNotify=true
