[Desktop Entry]
Exec=wine ~/.wine/drive_c/windows/system32/cmd.exe
GenericName=Windows Commandline in Linux home
Icon=utilities-terminal
Name=Wine cmd
NoDisplay=false
StartupNotify=true
Terminal=true
Type=Application
X-KDE-SubstituteUID=false
