[Desktop Entry]
Exec=wine ~/.wine/drive_c/windows/explorer.exe
GenericName=Windows Explorer
Icon=system-file-manager
Name=Wine explorer
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
X-KDE-SubstituteUID=false
